
/*För alla skärmstorlekar*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  background-color: #ecc8c5;
  line-height: 1.6em;
  margin: 0 auto;
  padding: 0;
}
.container {
  max-width: 100vw;
}
.mainContainer {
  margin-left: 8em;
}
p {
  font-size: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn {
  border-radius: 15px;
  border: none;
  padding: 15px;
  margin-top: 30px;
  background-color: lightblue;
  -webkit-box-shadow: 1px 1px 1px 1px #bbb;
          box-shadow: 1px 1px 1px 1px #bbb;
  border: none;
  color: white;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 100%;
  font-weight: bold;
  width: 6em;
  height: 3em;
  cursor: pointer;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  color: #60231f;
  margin-top: 2em;
  text-align: center;
}
h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 1em;
}
table {
  border-collapse: collapse;
  width: 90%;
  margin-bottom: 1.5em;
}
th {
  text-align: left;
  padding: 10px;
  font-size: 1.2em;
  background-color: #60231f;
  color: white;
}
td {
  text-align: left;
  font-size: 1.2em;
  padding: 10px;
}
tr {
  background-color: rgb(228, 213, 213);
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
.forms {
  border-radius: 5px;
  background-color:  lighten(#60231f, 5% );
  padding: 20px;
  width: 30%;
  font-size: 1.2em;
  margin-bottom: 2em;
  color: white;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #60231f;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#submit {
  width: 35%;
  background-color: lighten(#60231f, 40%);
  color: white;
  font-style: bold;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#submit:hover {
  background-color: #391513;
}
#update {
  width: 100%;
  background-color:lighten( green, 10% );
  color: white;
  padding: 14px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#update:hover {
  background-color: darken( green, 10% );
}
#delete {
  @extend #update;
  background-color: red;
}
#delete:hover {
  background-color: darken( red, 10% );
}
